accept 127.0.1.1:10000 command=any subcommand=any
accept 127.0.1.1:10001 command=any subcommand=any
accept 127.0.1.1:10002 command=any subcommand=any
accept 127.0.1.1:10003 command=any subcommand=any
accept 127.0.1.1:10004 command=any subcommand=any
drop 127.0.1.1:10005 command=any subcommand=any
drop 127.0.1.1:10006 command=any subcommand=any
drop 127.0.1.1:10007 command=any subcommand=any
drop 127.0.1.1:10008 command=any subcommand=any
drop 127.0.1.1:10009 command=any subcommand=any
